.container {
    height: 90vh;
    background-image: url('../images/ubuntu.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.containerItems {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}
.itemText {
    padding: 0 50px;
}
.itemImage {
    background-image: url('../images/mission.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 120vw;
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}