@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
    font-family: 'Open sans';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    height: 10vh;
}
.logoContainer {
    display: flex; 
    align-items: center;
    color: white;
    text-decoration: none;
}
#logo {
    font-size: 60px;
    padding-left: 70px;
}
#logoBrand {
    padding-left: 20px;
}

.menu ul {
    display: flex;
    color: white;
    list-style: none;
    text-transform: uppercase;
    padding-right: 70px;
}
.menu ul li {
    padding: 20px;
    color: white;
}

li:hover {
    background-color: rgb(15, 32, 189);
}

.linkItem {
    text-decoration: none;
}